@mixin btn_violet {
    &:hover{
        background: -moz-linear-gradient(top, lighten($colour_secondary,20%), lighten($colour_primary,20%));
        background: -webkit-linear-gradient(top, lighten($colour_secondary,20%), lighten($colour_primary,20%));
        background: linear-gradient(to bottom, lighten($colour_secondary,20%) , lighten($colour_primary,20%));
   }
}

@mixin btn_coeur{
    .card-fas--disabled{
        -webkit-text-stroke: 1px black;
        color: white;
        &:hover{
            animation: progress-heart 1000ms;
            -webkit-text-stroke: 0px ;
            background: -moz-linear-gradient(top, $colour_primary  0%, $colour_primary 100%);
            background: -webkit-linear-gradient(top, $colour_primary  0%, $colour_primary 100%);
            background: linear-gradient(to bottom, $colour_primary  0%, $colour_primary 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}