@-webkit-keyframes intro-appear {
  0% {
    visibility: hidden;
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes intro-appear {
  0% {
    visibility: hidden;
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes intro-disappear {
  0% {
    visibility: visible;
  }
  98% {
    visibility: visible;
    font-size: 40px;
  }
  99% {
    visibility: visible;
    font-size: 0;
    height: 2000px;
  }
  100% {
    visibility: hidden;
    height: 0;
    font-size: 0;
  }
}
@keyframes intro-disappear {
  0% {
    visibility: visible;
  }
  98% {
    visibility: visible;
    font-size: 40px;
  }
  99% {
    visibility: visible;
    font-size: 0;
    height: 2000px;
  }
  100% {
    visibility: hidden;
    height: 0;
    font-size: 0;
  }
}
@-webkit-keyframes intro-text-anim {
  from {
    transform: scale(1);
    color: white;
  }
  to {
    transform: scale(1.5);
    color: gray;
    padding-top: 200px;
    text-decoration: underline;
  }
}
@keyframes intro-text-anim {
  from {
    transform: scale(1);
    color: white;
  }
  to {
    transform: scale(1.5);
    color: gray;
    padding-top: 200px;
    text-decoration: underline;
  }
}
#intro_launch {
  font-family: "Shrikhand", cursive;
  font-size: 60px;
  -webkit-animation: intro-disappear 5000ms;
          animation: intro-disappear 5000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: black;
  height: 2000px;
}
#intro_launch-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: 15px;
}
#intro_launch p {
  display: block;
  -webkit-animation: intro-text-anim 4000ms infinite;
          animation: intro-text-anim 4000ms infinite;
  color: #9356DC;
  text-shadow: 0 0 15px gray, 0 0 25px whitesmoke;
}
#intro_launch p:nth-child(1) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
#intro_launch p:nth-child(2) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
#intro_launch p:nth-child(3) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
#intro_launch p:nth-child(4) {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
#intro_launch p:nth-child(5) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
#intro_launch p:nth-child(6) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}
#intro_launch p:nth-child(7) {
  -webkit-animation-delay: 2800ms;
          animation-delay: 2800ms;
}
#intro_launch p:nth-child(8) {
  -webkit-animation-delay: 3200ms;
          animation-delay: 3200ms;
}
#intro_launch p:nth-child(9) {
  -webkit-animation-delay: 3600ms;
          animation-delay: 3600ms;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

#blocpage {
  width: 100%;
  margin: auto;
}

header {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  background: white;
  font-family: "Shrikhand", cursive;
  font-size: 50px;
}

.btn_localisation {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: rgba(218, 214, 212, 0.534);
  width: 100%;
}
.btn_localisation i {
  margin-right: 30px;
}

.explorer {
  text-align: center;
  background-color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 15px;
  height: 700px;
}
@media screen and (min-width: 992px) {
  .explorer .explorer_text {
    width: 300px;
    margin-left: 250px;
    font-family: "Roboto", sans-serif;
  }
}
.explorer h2 {
  font-size: 60px;
  padding-left: 60px;
  padding-right: 50px;
}
.explorer p {
  font-size: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  color: grey;
}
.explorer .btn_explorer {
  width: 70%;
  text-decoration: none;
  padding: 25px;
  margin: auto;
  color: white;
  font-size: 50px;
  background: linear-gradient(to bottom, #fface8, #ae80e5);
  border-radius: 70px/70px;
  box-shadow: 10px 25px whitesmoke;
}
.explorer .btn_explorer:hover {
  background: linear-gradient(to bottom, #ffdff6, #c9abee);
}

#fonctionnement {
  padding-left: 40px;
  position: relative;
  margin-right: 30px;
  font-weight: bold;
}
#fonctionnement .btn {
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  border: 0px solid;
  border-radius: 60px/60px;
  background-color: whitesmoke;
  margin-bottom: 30px;
  font-size: 40px;
  color: black;
  width: auto;
}
#fonctionnement .number {
  position: absolute;
  border: 1px solid;
  border-radius: 60px/60px;
  background-color: #9356DC;
  text-align: center;
  width: 60px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 17px;
  padding-bottom: 17PX;
  font-size: 37px;
  color: white;
}
#fonctionnement i {
  position: relative;
  font-size: 50px;
  padding-left: 30px;
  padding-right: 30px;
  color: #beb8b8;
  margin-left: 60px;
  margin-right: 50px;
}
#fonctionnement .btn:hover {
  background-color: #efe7fa;
}

#les_restos {
  background-color: whitesmoke;
  padding-bottom: 70px;
}
#les_restos h2 {
  padding-left: 60px;
  padding-top: 110px;
}
#les_restos a {
  text-decoration: none;
  color: black;
}
#les_restos .card {
  font-family: "Roboto", sans-serif;
  width: 90%;
  height: 600px;
  border-radius: 40px 40px 40px 40px;
  overflow: hidden;
  box-shadow: 45px 45px 90px whitesmoke;
  margin-left: 50px;
  line-height: 20px;
  margin-bottom: 60px;
  transform: scale(1);
  transition: transform 100ms;
}
#les_restos .card:hover {
  transform: scale(1.05);
}
#les_restos .btn_nouveau {
  background-color: #99E2D0;
  border: solid #99E2D0;
  border-radius: 10px/10px;
  color: green;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  width: auto;
  text-align: justify;
  padding: 30px;
  margin: 40px;
  transform: translateX(320%);
}
#les_restos h3 {
  padding-left: 40px;
  font-weight: bold;
}
#les_restos p {
  padding-left: 40px;
}
#les_restos .card_image {
  height: 400px;
  position: relative;
}
#les_restos .card_image img {
  width: 100%;
  height: 100%;
}
#les_restos .card_body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 40px;
  background-color: white;
  height: 100%;
}
#les_restos .card_body .card-fas--disabled {
  -webkit-text-stroke: 1px black;
  color: white;
}
#les_restos .card_body .card-fas--disabled:hover {
  -webkit-animation: progress-heart 1000ms;
          animation: progress-heart 1000ms;
  -webkit-text-stroke: 0px;
  background: linear-gradient(to bottom, #9356DC 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#les_restos .card_body i {
  font-size: 60px;
}

@-webkit-keyframes progress-heart {
  20% {
    transform: scale(1);
    -webkit-text-stroke: 0px;
    background: linear-gradient(to bottom, white 80%, #9356DC 10%, #9356DC 10%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    transform: scale(1.5);
    -webkit-text-stroke: 0px;
    background: linear-gradient(to bottom, white 70%, #9356DC 20%, #9356DC 10%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    transform: scale(2);
    -webkit-text-stroke: 0px;
    background: linear-gradient(to bottom, white 0%, #9356DC 50%, #9356DC 50%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes progress-heart {
  20% {
    transform: scale(1);
    -webkit-text-stroke: 0px;
    background: linear-gradient(to bottom, white 80%, #9356DC 10%, #9356DC 10%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    transform: scale(1.5);
    -webkit-text-stroke: 0px;
    background: linear-gradient(to bottom, white 70%, #9356DC 20%, #9356DC 10%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    transform: scale(2);
    -webkit-text-stroke: 0px;
    background: linear-gradient(to bottom, white 0%, #9356DC 50%, #9356DC 50%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.footer_index {
  background-color: #070606;
  color: white;
  padding-left: 50px;
  padding-top: 20px;
  margin-top: 0px;
  padding-bottom: 30px;
  text-align: left;
}
.footer_index h2 {
  font-family: "Shrikhand", cursive;
  font-size: 60px;
}
.footer_index .footer_items p {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
}
.footer_index .footer_items a {
  color: white;
  text-decoration: none;
}
.footer_index .footer_items a:hover {
  color: cornflowerblue;
}

#body {
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes appear-card {
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  20% {
    opacity: 0.1;
    margin-top: 15px;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-card {
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  20% {
    opacity: 0.1;
    margin-top: 15px;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
#nav_meal {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: white;
}
#nav_meal a {
  text-decoration: none;
  color: black;
}
#nav_meal i {
  font-size: 30px;
}
#nav_meal .logo {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
#nav_meal .logo p {
  display: block;
  font-size: 40px;
}
@media screen and (max-width: 600px) {
  #nav_meal .logo p {
    font-size: 25px;
  }
}

.wrap {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  #titre_section {
    box-shadow: none;
  }
}
#titre_section .card {
  font-family: "Roboto", sans-serif;
  background-color: white;
  width: 100%;
  height: 500px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#titre_section .card-fas--disabled {
  -webkit-text-stroke: 1px black;
  color: #eaeaea;
}
#titre_section .card-zone-text-favi {
  margin: 0px;
  padding: 20px;
  font-size: 25px;
}
#titre_section .card-zone-text-paragraphe {
  margin: 0px;
  padding: 0px;
}
#titre_section .card-zone-img {
  height: 100%;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#titre_section .card-zone-img-textover {
  position: absolute;
  top: 400px;
  left: 0px;
  width: 100%;
  background-color: #eaeaea;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 100px;
  font-weight: bold;
  padding: 0px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#titre_section .card-zone-img-textover .h1 {
  margin: 0px;
  padding: 0px;
  font-size: 40px;
  font-weight: normal;
  font-family: "Shrikhand", cursive;
  color: black;
}
@media screen and (max-width: 600px) {
  #titre_section .card-zone-img-textover .h1 {
    padding-top: 20px;
    font-size: 22px;
  }
}
#titre_section .card-zone-img > img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom_vert {
  padding-bottom: 8px;
  border-bottom: 3px solid #99E2D0;
  width: 35px;
  margin-left: 10px;
}

.card_menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  overflow: hidden;
  width: 40%;
  height: 80px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 15px;
  margin-top: 15px;
  -webkit-animation: appear-card 3000ms;
          animation: appear-card 3000ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 0;
}
@media screen and (max-width: 600px) {
  .card_menu {
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.card_menu:hover > .card_menu-check {
  width: 80px;
}
.card_menu:hover > .card_menu-check i {
  -webkit-animation: rotate-check 1000ms;
          animation: rotate-check 1000ms;
}
.card_menu-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 10px;
  width: 80%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
}
.card_menu-text h3 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 600px) {
  .card_menu-text h3 {
    font-size: 14px;
  }
}
.card_menu-text p {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_menu-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 100%;
  background-color: white;
}
.card_menu-price p {
  display: block;
}
.card_menu-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0px;
  height: 100%;
  transition: all 1s;
  background-color: #99E2D0;
}
.card_menu-check i {
  display: block;
  transition: transform 1000ms;
  transition-delay: 250ms;
  transform: rotate(0deg);
  font-size: 30px;
  color: white;
}

@-webkit-keyframes rotate-check {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-check {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#commander {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
}

#command-btn {
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  padding-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#command-btn:hover {
  background: linear-gradient(to bottom, #ffdff6, #c9abee);
}
@media screen and (max-width: 600px) {
  #command-btn {
    margin-top: 15px;
    margin-left: 0px;
  }
}

footer {
  background-color: #070606;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 0px;
  padding-bottom: 30px;
  text-align: left;
}
footer h1 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
}
footer .footer_items p {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}
footer .footer_items a {
  color: white;
  text-decoration: none;
}
footer .footer_items a:hover {
  color: cornflowerblue;
}/*# sourceMappingURL=main.css.map */