@media screen and(min-width:1024px) {
    #blocpage{
        width: 100%;
        margin: auto;
        max-width: 1460px;
    }
    header{
        font-size: 30px;
    }
    .btn_localisation{
        font-size: 20px;
    }
    
    .explorer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 150px;
        padding-bottom: 20px;
        
        h2{
            font-size: 20px;
            padding-left: 20px;
        }
        p{
            font-size: 15px;
            padding-bottom: 0;
            padding-left: 20px;
        }
        .btn_explorer{
            padding: 15px;
            font-size: 15px;
            width: 200px;
            margin-left: 220px;
            
            box-shadow: 10px 25px white;
             
        }
    }
   
    
    #fonctionnement{
        display: flex;
        flex-direction: column;
        h1{
            font-size: 20px;
            
        }

        .les_btns{
            display: flex;
            justify-content: space-between;
            
        }
        .btn{
            
            font-size: 15px;
            width: 270px;
            padding-left: 0;
            margin-left: 25px;
           
            
            
        }
        .number{
            font-size: 15px;
            width: 20px;
            padding: 5px;
           
        }
        i{
            font-size: 20px;
            padding-left: 20px;
        }
        
    }
    

    #les_restos{
        display: flex;
        flex-direction: column;   
        margin: auto;
        height: 800px;
        h2{
            padding-top: 30px;
            padding-left: 40px;
            font-size: 30px;
        }

        .tous_les_card{
            width: 100%;
            height: 810px;
            display: flex; 
            flex-wrap: wrap;

            .card{
                width: 40%;
                height: 280px;
                border-radius: 20px;
                margin: auto;
            }
            .card_image{
                height: 200px;
            }
            .card_image img{
                width: 100%;
                height: 100%;
            }
            .card_body{
             height: 100%;
             font-size: 30px;
             line-height: 0px;
             i{
                 font-size: 30px;
                 padding-top: 10px;
             }
             h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
                
            }
         }
         
         .btn_nouveau{
           top: 0px;
           left: 100px;
            padding: 0px;
            font-size: 15px;
         }
        }
       
    }
    
    .le_menu{
        .tous_menus{
            display: flex;
            justify-content: space-between;   
            width: 100%;
            margin: auto;
            
        }
        h3{
            font-size: 16px;
            font-weight: bold;
        }
        p{
            font-size: 11px;
            color: gray;
        }
        
        .element{
            width: 370px;
            border-radius: 30px/30px;
            margin: 60px auto;
            height: 50px;
            .btn_vert{
                transition: all 1s;
                
            & i{
            transition: transform 1000ms;
            transition-delay: 250ms;
            transform: rotate(0deg);
            font-size: 30px;
                }
            }
        }
       
    }
    .btn_violet{
        padding: 10px;
        font-size: 10px;
    }
    .footer_items{
        display: flex;
        
        margin: auto;
       p{
        font-size: 20px;
        margin-right: 80px;
       }
        
    }
    
}


@media screen  and(min-device-width:767px) and(max-device-width:991px) {
    #blocpage{
        width: 100%;
        margin: auto;
    }
    
    #les_restos{
        display: flex;
        flex-direction: column;   
        margin: auto;
        height: 800px;
        h2{
            padding-top: 30px;
            padding-left: 40px;
            font-size: 30px;
        }

        .tous_les_card{
            width: 100%;
            height: 800px;
            display: flex; 
            flex-wrap: wrap;

            .card{
                width: 40%;
                height: 300px;
                border-radius: 20px;
                margin: auto;
            }
            .card_image{
                height: 200px;
            }
            .card_image img{
                width: 100%;
                height: 100%;
            }
            .card_body{
             height: 100%;
             font-size: 30px;
         }
         h3{
             font-size: 30px;
         }
         p{
             font-size: 20px;
         }
         .btn_nouveau{
            transform: translateX(200%);
            padding: 10px;
            font-size: 20px;
         }
        }
       
    }
    footer {
        h1{
            font-size: 10px;
        }
    }
    .footer_items{
        display: flex;
        margin: auto;
    
       p{
        font-size: 20px;
        margin-right: 80px;
       }
        
    }
}




