@media screen and (min-width: 992px) {
  #blocpage {
    width: 100%;
    margin: auto;
    max-width: 1920px;
  }

  header {
    font-size: 20px;
  }

  .heading_menu p {
    font-size: 30px;
  }

  .btn_localisation {
    font-size: 20px;
  }

  .explorer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 150px;
    padding-bottom: 20px;
  }
  .explorer h2 {
    font-size: 20px;
    padding-left: 20px;
  }
  .explorer p {
    font-size: 15px;
    padding-bottom: 0;
    padding-left: 20px;
  }
  .explorer .btn_explorer {
    padding: 15px;
    font-size: 15px;
    width: 200px;
    margin-left: 220px;
    box-shadow: 10px 25px white;
  }

  #fonctionnement {
    display: flex;
    flex-direction: column;
  }
  #fonctionnement h2 {
    font-size: 20px;
  }
  #fonctionnement .les_btns {
    display: flex;
    justify-content: space-between;
  }
  #fonctionnement .btn {
    font-size: 15px;
    width: 270px;
    padding-left: 0;
    margin-left: 25px;
  }
  #fonctionnement .number {
    font-size: 12px;
    width: 20px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 10px;
  }
  #fonctionnement i {
    font-size: 20px;
    padding-left: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }

  #les_restos {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 800px;
  }
  #les_restos h2 {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 30px;
  }
  #les_restos .tous_les_card {
    width: 100%;
    height: 810px;
    display: flex;
    flex-wrap: wrap;
  }
  #les_restos .tous_les_card .card {
    width: 40%;
    height: 280px;
    border-radius: 20px;
    margin: auto;
  }
  #les_restos .tous_les_card .card_image {
    height: 200px;
  }
  #les_restos .tous_les_card .card_image img {
    width: 100%;
    height: 100%;
  }
  #les_restos .tous_les_card .card_body {
    height: 100%;
    font-size: 30px;
    line-height: 0px;
  }
  #les_restos .tous_les_card .card_body i {
    font-size: 30px;
    padding-top: 10px;
  }
  #les_restos .tous_les_card .card_body h3 {
    font-size: 20px;
  }
  #les_restos .tous_les_card .card_body p {
    font-size: 15px;
  }
  #les_restos .tous_les_card .btn_nouveau {
    padding: 10px;
    font-size: 15px;
  }

  .card_menu h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .card_menu p {
    font-size: 17px;
    color: gray;
  }
  .card_menu .btn_violet {
    padding: 10px;
    font-size: 20px;
    width: 170px;
  }

  .footer_index {
    padding-left: 70px;
    padding-top: 30px;
  }
  .footer_index h2 {
    font-family: "Shrikhand", cursive;
    font-size: 30px;
    text-align: left;
  }
  .footer_index .footer_items {
    display: flex;
    margin: auto;
  }
  .footer_index .footer_items p {
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-right: 70px;
  }
  .footer_index .footer_items a {
    color: white;
    text-decoration: none;
  }
  .footer_index .footer_items a:hover {
    color: cornflowerblue;
  }

  footer {
    padding-left: 70px;
    padding-top: 30px;
  }
  footer h1 {
    font-family: "Shrikhand", cursive;
    font-size: 35px;
    text-align: left;
  }
  footer .footer_items {
    display: flex;
    margin: auto;
  }
  footer .footer_items p {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-right: 70px;
  }
  footer .footer_items a {
    color: white;
    text-decoration: none;
  }
  footer .footer_items a:hover {
    color: cornflowerblue;
  }
}
@media screen and (min-device-width: 767px) and (max-width: 991px) {
  #blocpage {
    width: 100%;
    margin: auto;
  }

  #les_restos {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 800px;
  }
  #les_restos h2 {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 30px;
  }
  #les_restos .tous_les_card {
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
  }
  #les_restos .tous_les_card .card {
    width: 45%;
    height: 300px;
    border-radius: 20px;
    margin: auto;
  }
  #les_restos .tous_les_card .card_image {
    height: 200px;
  }
  #les_restos .tous_les_card .card_image img {
    width: 100%;
    height: 100%;
  }
  #les_restos .tous_les_card .card_body {
    height: 100%;
    font-size: 20px;
  }
  #les_restos .tous_les_card .card_body i {
    font-size: 30px;
    padding-top: 10px;
  }
  #les_restos .tous_les_card h3 {
    font-size: 20px;
  }
  #les_restos .tous_les_card p {
    font-size: 20px;
  }
  #les_restos .tous_les_card .btn_nouveau {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px/10px;
  }

  .footer_index {
    padding-left: 70px;
    padding-top: 30px;
  }
  .footer_index h2 {
    font-family: "Shrikhand", cursive;
    font-size: 30px;
    text-align: left;
  }
  .footer_index .footer_items {
    display: flex;
    margin: auto;
  }
  .footer_index .footer_items p {
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-right: 70px;
  }
  .footer_index .footer_items a {
    color: white;
    text-decoration: none;
  }
  .footer_index .footer_items a:hover {
    color: cornflowerblue;
  }

  footer h2 {
    font-size: 20px;
  }
  footer .footer_items {
    display: flex;
    margin: auto;
  }
  footer .footer_items p {
    font-size: 13px;
    margin-right: 80px;
    color: white;
  }
}/*# sourceMappingURL=responsive.css.map */