body {
  font-size: 50px;
}

#blocpage {
  width: 100%;
  margin: auto;
  background-color: linear;
}

header {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  background-color: white;
}

.heading_menu {
  display: flex;
  align-items: baseline;
  padding-left: 50px;
  width: auto;
}
.heading_menu p {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 70px;
}

.btn_localisation {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: rgba(218, 214, 212, 0.534);
  width: 100%;
}
.btn_localisation i {
  margin-right: 30px;
}

.explorer {
  text-align: center;
  background-color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 15px;
  height: 800px;
}
.explorer h2 {
  font-size: 90px;
}
.explorer .btn {
  width: 70%;
  padding: 35px;
  margin: auto;
  color: white;
  font-size: 60px;
  background: #792fd3;
  border-radius: 70px/70px;
  box-shadow: 10px 25px;
}

#fonctionnement {
  padding-left: 40px;
  position: relative;
  margin-right: 30px;
}
#fonctionnement .btn {
  display: flex;
  align-items: flex-start;
  margin-left: 40px;
  border: 0px solid;
  border-radius: 60px/60px;
  background-color: whitesmoke;
  margin-bottom: 30px;
  padding-left: 40px;
  font-size: 50px;
}
#fonctionnement .number {
  position: absolute;
  border: 1px solid;
  border-radius: 50px/50px;
  background-color: #792fd3;
  text-align: center;
  width: 60px;
  padding: 5px;
  color: white;
}
#fonctionnement i {
  position: relative;
  font-size: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
#fonctionnement .btn:hover {
  background-color: #efe7fa;
}

#les_restos {
  background-color: whitesmoke;
  padding-bottom: 70px;
}
#les_restos h2 {
  padding-left: 60px;
  padding-top: 110px;
}
#les_restos a {
  text-decoration: none;
  color: black;
}
#les_restos .card {
  width: 90%;
  height: 600px;
  border-radius: 40px 40px 40px 40px;
  overflow: hidden;
  box-shadow: 45px 45px 90px whitesmoke;
  margin-left: 50px;
  line-height: 20px;
  margin-bottom: 60px;
  transform: scale(1);
  transition: transform 100ms;
}
#les_restos .card:hover {
  transform: scale(1.05);
}
#les_restos h3, #les_restos p {
  padding-left: 40px;
}
#les_restos i:hover {
  background: #792fd3;
  color: #792fd3;
}
#les_restos .card_image {
  height: 400px;
}
#les_restos .card_image img {
  width: 100%;
  height: 100%;
}
#les_restos .card_body {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 40px;
  background-color: white;
}

.banniere_menu img {
  width: 100%;
}

.le_menu {
  background: whitesmoke;
  transform: translateY(-150px);
  border-radius: 80px 80px 0px 0px;
  padding: 30px;
  padding-bottom: 90px;
}

.les_elements {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.element {
  background-color: white;
  border: 0px solid white;
  border-radius: 50px/50px;
  margin-bottom: 60px;
  padding: 20px;
  line-height: 0px;
  font-size: 45px;
}

.element h3 {
  font-size: 50px;
}

.element span {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

footer {
  background-color: #363434;
  color: white;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: cornflowerblue;
}/*# sourceMappingURL=style.css.map */