body {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

#blocpage {
  width: 100%;
  margin: auto;
}

header {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  background: white;
  font-family: "Shrikhand", cursive;
  font-size: 50px;
}

.fond_chargement {
  font-size: 40px;
  -webkit-animation: fond_chargement 2000ms;
          animation: fond_chargement 2000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: gainsboro;
}

@-webkit-keyframes fond_chargement {
  0% {
    visibility: visible;
  }
  98% {
    visibility: visible;
    font-size: 40px;
  }
  99% {
    visibility: visible;
    font-size: 0;
    height: 2000px;
  }
  100% {
    visibility: hidden;
    height: 0;
    font-size: 0;
  }
}

@keyframes fond_chargement {
  0% {
    visibility: visible;
  }
  98% {
    visibility: visible;
    font-size: 40px;
  }
  99% {
    visibility: visible;
    font-size: 0;
    height: 2000px;
  }
  100% {
    visibility: hidden;
    height: 0;
    font-size: 0;
  }
}
.chargement {
  border: 15px solid #f3f3f3;
  border-top: 15px solid #FF79DA;
  border-bottom: 15px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s;
  animation: spin 2s;
  opacity: 0;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
.heading_menu {
  display: flex;
  align-items: baseline;
  padding-left: 50px;
  width: auto;
}
.heading_menu p {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 70px;
}

.btn_localisation {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: rgba(218, 214, 212, 0.534);
  width: 100%;
}
.btn_localisation i {
  margin-right: 30px;
}

.explorer {
  text-align: center;
  background-color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 15px;
  height: 700px;
}
@media screen and (min-width: 992px) {
  .explorer .explorer_text {
    width: 300px;
    margin-left: 250px;
    font-family: "Roboto", sans-serif;
  }
}
.explorer h2 {
  font-size: 60px;
  padding-left: 60px;
  padding-right: 50px;
}
.explorer p {
  font-size: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  color: grey;
}
.explorer .btn_explorer {
  width: 70%;
  text-decoration: none;
  padding: 25px;
  margin: auto;
  color: white;
  font-size: 50px;
  background: linear-gradient(#f071f0, #a329a3);
  border-radius: 70px/70px;
  box-shadow: 10px 25px whitesmoke;
}
.explorer .btn_explorer:hover {
  background: linear-gradient(to bottom, #fface8, #ae80e5);
}

#fonctionnement {
  padding-left: 40px;
  position: relative;
  margin-right: 30px;
  font-weight: bold;
}
#fonctionnement .btn {
  display: flex;
  align-items: flex-start;
  margin-left: 40px;
  border: 0px solid;
  border-radius: 60px/60px;
  background-color: whitesmoke;
  margin-bottom: 30px;
  padding-left: 40px;
  font-size: 50px;
  color: black;
}
#fonctionnement .number {
  position: absolute;
  border: 1px solid;
  border-radius: 50px/50px;
  background-color: #9356DC;
  text-align: center;
  width: 60px;
  padding: 15px;
  color: white;
}
#fonctionnement i {
  position: relative;
  font-size: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
#fonctionnement .btn:hover {
  background-color: #efe7fa;
}

#les_restos {
  background-color: whitesmoke;
  padding-bottom: 70px;
}
#les_restos h2 {
  padding-left: 60px;
  padding-top: 110px;
}
#les_restos a {
  text-decoration: none;
  color: black;
}
#les_restos .card {
  font-family: "Roboto", sans-serif;
  width: 90%;
  height: 600px;
  border-radius: 40px 40px 40px 40px;
  overflow: hidden;
  box-shadow: 45px 45px 90px whitesmoke;
  margin-left: 50px;
  line-height: 20px;
  margin-bottom: 60px;
  transform: scale(1);
  transition: transform 100ms;
}
#les_restos .card:hover {
  transform: scale(1.05);
}
#les_restos .btn_nouveau {
  background-color: #99E2D0;
  border: solid #99E2D0;
  color: green;
  position: absolute;
  font-size: 30px;
  width: auto;
  text-align: justify;
  padding: 30px;
  margin: 40px;
  transform: translateX(330%);
}
#les_restos h3 {
  padding-left: 40px;
  font-weight: bold;
}
#les_restos p {
  padding-left: 40px;
}
#les_restos .card_image {
  height: 400px;
  position: relative;
}
#les_restos .card_image img {
  width: 100%;
  height: 100%;
}
#les_restos .card_body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 40px;
  background-color: white;
  height: 100%;
}
#les_restos .card_body .card-fas--disabled {
  -webkit-text-stroke: 1px black;
  color: white;
}
#les_restos .card_body .card-fas--disabled:hover {
  -webkit-animation: progress-heart 1000ms;
          animation: progress-heart 1000ms;
  -webkit-text-stroke: 0px;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#les_restos .card_body i {
  font-size: 60px;
}

.banniere_menu img {
  width: 100%;
}

.bottom_vert {
  padding-bottom: 20px;
  border-bottom: 7px solid #99E2D0;
  width: 100px;
}

.le_menu {
  background: whitesmoke;
  transform: translateY(-100px);
  border-radius: 80px 80px 0px 0px;
  padding: 30px;
  padding-bottom: 90px;
  -webkit-animation: appear-card 3000ms;
          animation: appear-card 3000ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes appear-card {
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  20% {
    opacity: 0.1;
    margin-top: 15px;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear-card {
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  20% {
    opacity: 0.1;
    margin-top: 15px;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.le_menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 70px;
}
.le_menu .les_elements {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  align-items: baseline;
}
.le_menu .les_elements .card-fas--disabled {
  -webkit-text-stroke: 1px black;
  color: white;
}
.le_menu .les_elements .card-fas--disabled:hover {
  -webkit-animation: progress-heart 1000ms;
          animation: progress-heart 1000ms;
  -webkit-text-stroke: 0px;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.le_menu .element {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border: 0px solid white;
  border-radius: 50px/50px;
  margin-bottom: 60px;
  padding: 20px;
  padding-right: 0;
  line-height: 0px;
  font-family: Roboto, sans-serif;
  height: 180px;
  overflow: hidden;
  width: 100%;
}
.le_menu .element .btn {
  flex-direction: column;
  justify-content: center;
  width: 80%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}
.le_menu .element .btn h3 {
  display: block;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.le_menu .element .btn p {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: gray;
}
.le_menu .element .prix {
  flex-direction: column;
  justify-content: center;
  width: 20%;
  padding-left: 10px;
}
.le_menu .element .prix p {
  display: block;
}
.le_menu .element:hover > .btn_vert {
  width: 200px;
}
@media screen and (min-width: 992px) {
  .le_menu .element:hover > .btn_vert {
    width: 100px;
  }
}
.le_menu .element:hover > .btn_vert i {
  -webkit-animation: rotate-btn_vert 1000ms;
          animation: rotate-btn_vert 1000ms;
}
.le_menu .element .btn_vert {
  background-color: #99E2D0;
  height: 180px;
  width: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0px 50px 50px 0px;
  font-size: 50px;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  background-color: #99E2D0;
}
.le_menu .element .btn_vert i {
  display: block;
  transition: transform 1000ms;
  transition-delay: 250ms;
  transform: rotate(0deg);
  font-size: 75px;
  color: white;
}
.le_menu .element .btn_vert h3 {
  font-size: 100px;
  font-family: Roboto, sans-serif;
}
@-webkit-keyframes rotate-btn_vert {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-btn_vert {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.le_menu .btn_violet {
  width: 50%;
  padding: 25px;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 50px;
  background: linear-gradient(#f071f0, #a329a3);
  border-radius: 70px/70px;
  font-weight: bold;
}
.le_menu .btn_violet:hover {
  background: linear-gradient(to bottom, #fface8, #ae80e5);
}

footer {
  background-color: #363434;
  color: white;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer h1 {
  font-family: "Shrikhand", cursive;
  font-size: 40px;
}
footer p {
  font-size: 26px;
  font-weight: bold;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: cornflowerblue;
}/*# sourceMappingURL=style.css.map */